<div class="conatiner m-3">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card border-0 shadow text-center">
                <div class="card-body">
                    <h1 class="card-title">
                        <i class="fa-solid fa-circle-check" style="color: #129e00;"></i>
                    </h1>
                    <h5 class="card-title">Payment Successful</h5>
                    <p class="card-text">Your payment has been successfully processed.</p>
                    <p class="card-text">Check your email for recipt.</p>
                    <a routerLink="/home" class="btn btn-primary">Go to main page</a>
                </div>
            </div>
        </div>
    </div>
</div>